html,
body {
  font-size: 8px;
  padding: 0;
  margin: 0;
  font-family: Sk-Modernist-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tippy-popper[x-placement=top] .tippy-tooltip.mythemename-theme [x-arrow] {
  border-top: 7px solid red; /* your color here */
}

.tippy-popper[x-placement=bottom] .tippy-tooltip.mythemename-theme [x-arrow] {
  border-bottom: 7px solid red; /* your color here */
}
