.logo {
    height: 25px;
    width: 26px;
    /* margin-left: 15px; */
    margin-right: 15px;
}
/* these styles are for buttons inside wallet connection modal */
.wbutton {
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10px !important;
    background-color: white !important;
    border: 1px solid grey;
    width: 75% !important;
    height: 50px !important;
    cursor: pointer;
    color: #000000 !important;
    /* box-shadow: 20px black; */
}

.wbutton:hover{
    box-shadow:  0 0 5px grey;
    -webkit-box-shadow: 0 0 5px grey;
    -moz-box-shadow: 0 0 5px grey;
}
